<div class="row">
  <div class="col-md-6">
    <%= form_tag questions_path, method: :get do %>
      <%= search_field_tag :search, params[:search] %>
      <%= submit_tag "Search", class: "btn btn-primary btn-sm" %>
    <% end %>
  </div>
  <div class="col-md-6">
    <!-- Button trigger modal -->
    <div class=" text-right">
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        New Question
      </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Create New Question</h4>
          </div>
            <%= form_for Question.new , html: {class: "form-horizontal"} do |f| %>
              <div class="modal-body">
                <div class="col-md-12">
                  <%# if you don't pass any option for f.submit it will:
                      1. If @question is not persisted it will make the button label "Create [Object Class]"
                      2. If @question is persisted it will make the button label "Update [Object Class]" %>
                  <div class="form-group">
                    <%= f.label :title %>
                    <%# using f.text_field ensures that Rails will use the proper `name` HTML
                        attribute and it will also populate the text field with data if @question
                        title has a value %>
                    <%= f.text_field :title, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :body %>
                    <%= f.text_area :body, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :category_id %>
                    <%= f.collection_select :category_id, Category.all, :id, :name, {},
                                            {class: "form-control"} %>
                  </div>
                  <div class="form-group">
                    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="modal-footer">
                <div class="col-md-12">
                  <div class="form-group">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <%= f.submit class: "btn btn-primary", data: {disable_with: "saving.."} %>
                  </div>
                </div>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<h1>All Questions</h1>
<%= link_to "order by title", questions_path(search: params[:search], order: "title") %>
<%= link_to "order by body", questions_path(search: params[:search], order: "body") %>
<% @questions.each do |q| %>
  <%#= link_to q.title, question_path({id: q.id}) %>
  <%#= link_to q.title, q %>
  <div>
    <%= link_to q.title, question_path(q) %>
  </div>
<% end %>

<%= paginate @questions %>
