<h1><%= @question.title %></h1>
<hr>
<p><%= @question.body %></p>
<p>View Count: <%= @question.view_count %></p>
<p>Category: <%= @question.category_name %></p>
<% if @question.image.present? %>
  <%= image_tag @question.image.url(:medium) %>
<% end %>
<!-- <p>Tags: <%= @question.tags.map(&:name).join(", ") %></p> -->
<p>Tags: <%= @question.tags.map {|x| x.name }.join(", ") %></p>
<p>Created by <%= @question.user_name %> on
                <%= formatted_date(@question.created_at) %></p>
<%# this link to the edit page of the question that shows a form to edit the values already saved %>
<% if can? :edit, @question %>
  <%= link_to "Edit", edit_question_path(@question), class: "btn btn-info" %>
<% end %>
<% if can? :destroy, @question %>
  <%= link_to "Delete", question_path(@question), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
<% end %>

<%= link_to (@question.locked ? "Lock" : "Un-lock"),
            question_path(@question, {question: {locked: !@question.locked}}),
            class: "btn btn-warning", method: :patch %>
<% if user_signed_in? %>
  <% if current_user.liked_question?(@question) %>
    <%= link_to fa_icon("thumbs-up"),
                question_like_path(@question, @question.like_for(current_user)),
                class: "big-icon", title: "Un-Like", method: :delete %>
  <% else %>
    <%= link_to fa_icon("thumbs-o-up"), question_likes_path(@question),
                  class: "big-icon", method: :post %>
  <% end %>
<% end %>
(<%= @question.likes.count %>)

<% if user_signed_in? %>
  <% if current_user.favourited_question?(@question) %>
    <%= link_to fa_icon("star"),
                question_favourite_path(@question, @question.favourite_for(current_user)),
                class: "big-icon", title: "Un-Favourite", method: :delete %>
  <% else %>
    <%= link_to fa_icon("star-o"), question_favourites_path(@question),
                  class: "big-icon", method: :post %>
  <% end %>
<% end %>
(<%= @question.favourites.count %>)

<% if user_signed_in? %>
  <% if current_user_vote.nil? %>
    <%= link_to fa_icon("chevron-up"),
                question_votes_path(@question, {vote: {up: true}}),
                class: "big-icon",
                method: :post %>
    <%= link_to fa_icon("chevron-down"),
                question_votes_path(@question, {vote: {up: false}}),
                class: "big-icon",
                method: :post %>
  <% elsif current_user_vote.up? %>
    <%# user has voted up %>
    <%= link_to fa_icon("chevron-circle-up"),
                question_vote_path(@question, current_user_vote),
                method: :delete,
                class: "big-icon" %>
    <%= link_to fa_icon("chevron-down"),
                question_vote_path(@question, current_user_vote, {vote: {up: false}}),
                method: :patch,
                class: "big-icon" %>
  <% else %>
    <%# user has voted down %>
    <%= link_to fa_icon("chevron-up"),
                question_vote_path(@question, current_user_vote, {vote: {up: true}}),
                method: :patch,
                class: "big-icon" %>
    <%= link_to fa_icon("chevron-circle-down"),
                question_vote_path(@question, current_user_vote),
                method: :delete,
                class: "big-icon" %>
  <% end %>
  (<%= @question.votes_count %>)
<% end %>

<!-- <%= form_for @question do |f| %>
  <%= f.hidden_field :locked, value: !@question.locked %>
  <%= f.submit @question.locked ? "Lock" : "Un-lock", class: "btn btn-warning" %>
<% end %> -->


<!-- <% if @question.locked? %>
  <%= link_to "Un-Lock", lock_question_path(@question), method: :patch, data: {confirm: "Are you sure?"}, class: "btn btn-warning" %>
<% else %>
  <%= link_to "Lock", lock_question_path(@question), method: :patch, data: {confirm: "Are you sure?"}, class: "btn btn-warning" %>
<% end %> -->


<h2>New Answer</h2>
<%# @answer (not persisted)    -> URL: answers_path         (CREATE) %>
<%# @answer (persisted (in DB) -> URL: answer_path(@answer) (UPDATE) %>
<%#= form_for @answer, url: question_answers_path(@question) do |f| %>
<%= simple_form_for [@question, @answer] do |f| %>
  <%= f.input :body %>
  <%= f.submit "Create Answer", class: "btn btn-primary" %>
<% end %>
<h2>Answers</h2>
<% @question.answers.each do |ans| %>
  <div class="well" id="<%= dom_id(ans) %>">
    <%= ans.body %>
    <%# question_answer_path({question_id: @question, id: ans}) %>
    <%# question_answer_path(@question, ans) %>
    <%# [@question, ans] %>
    <%= link_to "Delete", question_answer_path(@question, ans), method: :delete,
                class: "btn btn-sm btn-danger",
                data: {confirm: "Are you sure?"} %>
    <p>Created by <%= ans.user_name %> on
                  <%= formatted_date(ans.created_at) %></p>
    <h3>Add Comment</h3>
    <%= simple_form_for [ans, Comment.new] do |f| %>
      <%= f.input :body, input_html: {placeholder: "add comment here.."} %>
      <%= f.submit "Comment" %>
    <% end %>
    <% ans.comments.each do |com| %>
      <div class="well">
        <%= com.body %>
      </div>
    <% end %>
  </div>
<% end %>
