<!DOCTYPE html>
<html>
<head>
  <title>AwesomeAnswers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <%= link_to "Home", root_path %>
  <!-- <a href="<%= contact_path %>">Contact Us</a> -->
  <%# link_to is a built-in Rails view helper that generate an anchor tag <a>
      the first arguement is the anchor text, the second argument is the path or url and then it takes a hash of options that will be translated to key / value as HTML attributes %>
  <%= link_to "Contact Us", contact_path, class: "my-link-class", style: "color:red" %>
  <%= link_to "Subscribe", subscribe_path %>
  <!-- <a class="my-link-class" style="color:red" href="/contact">Contact Us</a> -->
  <%= link_to("Google", "http://www.google.com", {target: "_blank"}) %>
</nav>
<%= yield %>

</body>
</html>
